.ai_chat {
  width: 1440px;
  height: 753.9px;
  left: 0px;
  top: -46.82px;

  background: url("/img/bg 4.svg");
  background-repeat: no-repeat;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.line {
  width: 270px;
  height: 0px;
  left: 134.66px;
  top: 361.76px;

  border: 1px solid #111111;
}
.left_side {
  margin-left: 135px;
  margin-top: 100px;
}
.left_side p {
  margin-top: 26px;
  margin-bottom: 45px;

  width: 437px;
  height: 83px;
  /* font-family: 'Celebes'; */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.p_bold {
  font-weight: 600;
}
.left_side h6, .left_side h4 {
  width: 500px;
  /* font-family: 'Celebes'; */
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  color: #111111;
}
.left_side h4 {
  font-weight: 700;
  font-size: 60px;
}
.left_side span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 39px;
  gap: 10px;
  color: #ffffff;

  /* position: absolute; */
  width: 160px;
  height: 55px;
  left: 135px;
  top: 528px;

  background: #1677ff;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  cursor: pointer;
}
